
/*
.content{
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.container{
    margin: auto;
    width: 100%;
    padding: 10px;
}

.cards-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
}

.card{
    background: #fff;
    color: #2F4F4F;
    
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    max-width: 200px;
    
    text-align: center;
    white-space: nowrap;
    
    border-style: solid;
    border-color: #2F4F4F;
    
}

.card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }

.card img{
    margin: 15px 0;
    width: 170px;
    border-radius: 5px;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
*/





