* {
    margin: 0;
    padding: 0;
    /*outline: 0;*/
    /*box-sizing: border-box;*/
}

body {
    background: #303031 ;
    color: #fff;
}

button {
    cursor: pointer;
}

.container{
    font: 18px "Roboto", sans-serif;

    margin: 0 auto;
    width: 50%; /*100% = completo*/
    padding: 10px;
    
    border-style: solid;
    border-color: red;
}


