body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}


/*fundo inteiro*/
.container{
    /*
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    */
    
    background-color: #121212;
    color: #FFF;
    padding: 30px;
    width: 100%;
    margin: 0 auto;
}

.containerr{
    width: 80%;
    margin: 0 auto;
    color: #fff;
}

.content{
    background: #fff;

    border-style: solid;
    border-color: yellow;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

    /*acho que não funciona a parte de baixo até no repeat*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    
}

/*
.card{
    background: #fff;
    color: #2F4F4F;
    
    border: red;
    border-radius: 12px;
    padding: 10px;
    margin: 5px;
    max-width: 200px;
    
    
    text-align: center;
    white-space: nowrap;
    
    
    border-style: solid;
    border-color: #2F4F4F;
    
}
*/
/*
.content:hover {
    transform: translateY(-5px);
    cursor: pointer;
}
*/
.content img{
    border-style: solid; /*teste*/
    border-color: red; /*teste*/
    border-radius: 5px;

    margin: 15px;
    width: 170px;
}