.footerbg{
    background-color: #221d1e;
    color: #fff;
    
    text-align: center;
    height: 100px;
    margin-top: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Tilt Neon', cursive;
}